<div class="container-fluid">
  <div  @fade class="  mt-2 w-100">
    <div class="row g-1">
      <div class="col-md-6">
        <img src="../../assets/images/carousel-1.png" class="img-fluid w-100" alt="...">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h1 class="card-title">Angular Todo App</h1>
          <p class="card-text">Gerencie suas tarefas e organize seu o seu dia! Crie,Conclua,Exclua tarefas para manter suas atividades em ordem!</p>
          <p class="card-text"><small class="text-muted">{{userCount.value}} usuários Cadastrados!</small></p>
          <p class="card-text"><small class="text-muted">{{taskCount.value}} tarefas Cadastradas!</small></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-3 p-1">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div @fade class="card h-100 mb-3" style="max-width: 680px">
        <div class="row g-1">
          <div class="col-md-4">
            <img
              src="../../assets/images/MEAN_STACK.png"
              class="img-fluid w-100 mt-5 pt-4 pl-2  d-block"
              alt="..."
            />
          </div>
          <div  class="col-md-6">
            <div  class="card-body">
              <h2 class="text-center">Feito Na M.E.A.N Stack</h2>
              <p class="card-text">
                Esse projeito foi feito com a Stack M.E.A.N: MongoDB como banco
                de dados, Express.js como Framework para Server-Side,Angular
                como Framework Para Client-Side e Node.JS como Runtime para o
                JavaScript
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div  @fade class="card h-100 mb-3" style="max-width: 680px">
        <div class="row row-cols-lg-2 g-1">
          <div class="col-md-4">
            <img
              src="../../assets/images/Mobile 2.png"
              class="img-fluid mt-5 d-block"
              alt="..."
            />
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h2 class="text-center">Mobile Friendly</h2>
              <p class="card-text">
                A aplicação é toda responsiva, se ajusta perfeitamente ao
                tamanho da tela, para melhorar a experiência tanto em
                smartphones quanto tablets.
                <br />
                <br />
                <br />
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-3"></div>
  <div class="row g-1">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div  @fade class="card h-100 mb-3" style="max-width: 680px">
        <div class="row g-1">
          <div class="col-md-4">
            <img
              src="../../assets/images/Boostrap_logo.png"
              class="img-fluid mt-5 d-block pl-2"
              alt="..."
            />
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h2 class=" text-center">Estilizado com Boostrap</h2>
              <p class="card-text">
               Os arquivos de estilo em cascata (CSS) dessa aplicação são todas da biblioteca de Front-end Mais famosa do mundo: O Bootstrap!<br>
               (Foi-se utilizada a versão 4.0)
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div  @fade class="card h-100 mb-3" style="max-width: 680px">
        <div class="row g-1">
          <div class="col-md-4">
            <img
              src="../../assets/images/features.png"
              class="img-fluid"
              alt="..."
            />
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h3 class="card-title text-center">Feito Na M.E.A.N Stack!</h3>
              <p class="card-text">
                Esse projeito foi feito com a Stack M.E.A.N: MongoDB como banco
                de dados, Express.js como Framework para Server-Side,Angular
                como Framework Para Client-Side e Node.JS como Runtime para o
                JavaScript
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
